.gradle
/build/
!gradle/wrapper/gradle-wrapper.jar
*.class
bin/main/application.yaml

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans

### IntelliJ IDEA ###
.idea
/out
*.iws
*.iml
*.ipr

.DS_Store

applicationinsights-agent-*.jar
*.log

.env/bin/setup-env.sh
/bin/setup-sftp.sh
/bin/create-env-file.sh
/bin/setup-azurite.sh
/bin/substitutions.json
.env
/bin/setup-env.sh
